// Typography SCSS
body {
    font-family: $font-Montserrat;
    font-weight: 400;
    color: $dark-900;
    font-size: 16px;
    // line-height: 24px;
    line-height: 1.6;
    background-color: $white;
}

a {
    transition: $link-transition;
    text-decoration: none;
    color: $dark-900;
}

.text-light {
    color: $white;
    & a {
        color: $white;
    }
}

b,
strong {
    font-weight: 700;
}

.text-primary {
    color: $primary;
}

.text-green {
    color: $green;
}

.text-blue {
    color: $blue-900;
}

h1,
.h1 {
    font-weight: 700;
    font-size: 48px;
    // line-height: 64px;
    line-height: 1.333;
    @include mobile {
        font-size: 40px;
    }
    @include mini-mobile {
        font-size: 36px;
    }
}

h2,
.h2 {
    font-weight: 700;
    font-size: 42px;
    // line-height: 56px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    @include mobile {
        font-size: 32px;
    }
    @include mini-mobile {
        font-size: 28px;
    }
}

h3,
.h3 {
    font-weight: 700;
    font-size: 28px;
    // line-height: 36px;
    line-height: 1;
    letter-spacing: 0.03em;
    @include mobile {
        font-size: 21px;
    }
}

h4,
.h4 {
    font-weight: 700;
    font-size: 21px;
    // line-height: 30px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    @include mobile {
        font-size: 18px;
    }
}

h5,
.h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    // line-height: 28px;
    line-height: 1.56;
    letter-spacing: 0.02em;
    @include mobile {
        font-size: 16px;
    }
}

h6,
.h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    // line-height: 28px;
    line-height: 1.56;
}

.p {
    font-weight: 400;
    font-size: 16px;
    // line-height: 24px;
    line-height: 1.6;
}