//  Button SCSS
.btn {
    cursor: pointer;
    font-family: $font-Montserrat;
    border: none;
    transition: $btn-transition;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    flex-shrink: 0;
    & svg {
        flex-shrink: 0;
        & * {
            transition: $btn-transition;
        }
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:active {
        transform: scale(0.95);
    }
}

.btn-sm {
    text-align: center;
    font-weight: 350;
    font-size: 21px;
    line-height: 26px;
    border-radius: 100px;
    height: 47px;
    padding: 11px 15px 10px;
}

.btn-md {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    height: 50px;
    padding: 0 26px;
    column-gap: 10px;
    border-radius: 100px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    &:hover {
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
        color: $white;
    }
}

.btn-blue {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    &:hover {
        background-color: lighten($blue, 10%);
        border-color: lighten($blue, 10%);
        color: $white;
    }
}

.btn-white-outline {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    &:hover {
        background-color: $white;
        border-color: $white;
        color: $dark-900;
    }
}

.btn-dark-outline {
    background-color: transparent;
    color: $dark-800;
    border: 1px solid $dark-800;
    &:hover {
        background-color: $dark-800;
        border-color: $dark-800;
        color: $white;
    }
}